<div class="head-content">
  <div class="content-title">
    <div class="content-grid" fxLayout="row"
      fxLayoutGap.xs="0"> 
      <div fxFlex="70">

        <div class="title">
          <a href="/">
            <p class="app-click"><span class="material-icons">
              join_inner
              </span> 
              AV410</p>
          </a>
        </div>

      </div>
      <div fxFlex="30">
        <input class="search" type="text" [(ngModel)]="os.search" placeholder="Buscar" (keyup)="searchByKey($event)">
        <button mat-icon-button (click)="searchImg()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
